<div class="row">

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Configure and Publish Exam Results</h4>
                <form class="form-sample" [formGroup]="confExamForm" (ngSubmit)="onSubmit()">
                    <p class="card-description">
                        Select time frame of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Standard</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="standard" readonly/>
                                    <div *ngIf="submitted && f.standard.errors" class="text-danger">
                                        <p *ngIf="f.standard.errors.required">Standard is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Exam</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="examName" readonly/>
                                    <div *ngIf="submitted && f.examName.errors" class="text-danger">
                                        <p *ngIf="f.examName.errors.required">Exam Name is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive-sm table-bordered table-hover">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Max Marks</th>
                                    <th scope="col">Report Group</th>
                                    <th scope="col">Group Total</th>
                                    <th scope="col">Pass Marks</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="scheduleInfo">
                                <tr *ngFor="let subject of confExamForm['controls']['scheduleInfo']['controls'];let i = index">
                                    <ng-container [formGroupName]="i">
                                        <th scope="row">{{i+1}}</th>
                                        <td class="min">
                                            <div>
                                                <ng-selectize [config]="subjectConfig" [options]="subjectList"
                                                    formControlName="subject" ngDefaultControl [enabled]="false"></ng-selectize>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','subject')">subject is required</p>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" class="form-control" formControlName="maxMarks" readonly/>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','maxMarks')">Marks is required</p>
                                            </div>
                                        </td>
                                        <td class="min">
                                            <div>
                                                <ng-selectize [config]="reportGroupConfig" [options]="reportGroupOptions"
                                                    formControlName="reportGroup" (ngModelChange)="reportGroupChange(subject.controls['initialGroup'].value,subject.controls['reportGroup'].value)" ngDefaultControl></ng-selectize>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','reportGroup')">Report group is
                                                    required</p>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" class="form-control"  readonly formControlName="groupTotal" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','groupTotal')">Pass Marks is
                                                    required</p>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" class="form-control" (change)="passMarksMap(subject.controls['reportGroup'].value,subject.controls['passMarks'].value)" formControlName="passMarks" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','passMarks')">Pass Marks is
                                                    required</p>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h4 *ngIf="duplicateFlag">duplicate ke bacha</h4>
                    </div>
                    <button type="submit" class="marginbtn btn btn-inverse-info btn-fw float-right">Save Configuration</button>
                </form>
            </div>
        </div>
    </div>
</div>