<div class="card">
  <div class="card-body">
    <div class="clearfix">
      <h4 class="card-title float-left">Recent Schedules</h4>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link btn-outline-primary btn-fw" id="yesterday-tab" data-toggle="tab" href="#yesterday" role="tab"
          aria-controls="yesterday" aria-selected="true">Yesterday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active btn-outline-primary btn-fw" id="today-tab" data-toggle="tab" href="#today" role="tab"
          aria-controls="today" aria-selected="false">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-outline-primary btn-fw" id="tommorow-tab" data-toggle="tab" href="#tommorow" role="tab"
          aria-controls="tommorow" aria-selected="false">Tomorrow</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="yesterday" role="tabpanel" aria-labelledby="yesterday-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="schedulesYesterday.length>=1 && !errorFlag">
                <tr *ngFor="let schedule of schedulesYesterday">
                  <td>{{schedule.period_name}}</td>
                  <td>{{schedule.std_name + '-' +schedule.section_name}}</td>
                  <td>{{schedule.subject_name}}</td>
                  <td><a [routerLink]="['/app/teacher/scheduledescription',schedule.session_id]">
                      <!-- {{schedule.status_flag}} -->
                      <label *ngIf="schedule.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                      <label *ngIf="schedule.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                      <label *ngIf="schedule.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                      <label *ngIf="schedule.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                    </a>
                  </td>
                </tr>
              </ng-container>
              <!-- <ng-container *ngIf="schedulesYesterday.length<1 && !errorFlag">
                              <h4>No Tickets for you</h4>
                          </ng-container> -->
            </tbody>
          </table>
          <ng-container *ngIf="schedulesYesterday.length<1 && !errorFlag">
            <div class="rowedited">
              <div>
                <img src="../../../../assets/images/book.gif" alt="book">
              </div>
              <div>
                <img src="../../../../assets/images/nosessions.svg" alt="no sessions">
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="schedulesToday.length>=1 && !errorFlag">
                <tr *ngFor="let schedule of schedulesToday">
                  <td>{{schedule.period_name}}</td>
                  <td>{{schedule.std_name + '-' +schedule.section_name}}</td>
                  <td>{{schedule.subject_name}}</td>
                  <td><a [routerLink]="['/app/teacher/scheduledescription',schedule.session_id]">
                      <!-- {{schedule.status_flag}} -->
                      <label *ngIf="schedule.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                      <label *ngIf="schedule.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                      <label *ngIf="schedule.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                      <label *ngIf="schedule.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <ng-container *ngIf="schedulesToday.length<1 && !errorFlag">
            <div class="rowedited">
              <div>
                <img src="../../../../assets/images/book.gif" alt="book">
              </div>
              <div>
                <img src="../../../../assets/images/nosessions.svg" alt="no sessions">
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="tab-pane fade" id="tommorow" role="tabpanel" aria-labelledby="tommorow-tab">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="schedulesTommorow.length>=1 && !errorFlag">
                <tr *ngFor="let schedule of schedulesTommorow">
                  <td>{{schedule.period_name}}</td>
                  <td>{{schedule.std_name + '-' +schedule.section_name}}</td>
                  <td>{{schedule.subject_name}}</td>
                  <td>
                    <a [routerLink]="['/app/teacher/scheduledescription',schedule.session_id]">
                      <label *ngIf="schedule.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                      <label *ngIf="schedule.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                      <label *ngIf="schedule.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                      <label *ngIf="schedule.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                    </a>
                  </td>
                </tr>
              </ng-container>
              <!-- <ng-container *ngIf="schedulesTommorow.length<1 && !errorFlag">
                              <h4>No Tickets for you</h4>
                          </ng-container> -->
            </tbody>
          </table>
          <ng-container *ngIf="schedulesTommorow.length<1 && !errorFlag">
            <div class="rowedited">
              <div>
                <img src="../../../../assets/images/book.gif" alt="book">
              </div>
              <div>
                <img src="../../../../assets/images/nosessions.svg" alt="no sessions">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>