<div class="card" id="foo">
  <div class="card-body">
    <div class="row">
      <div class=" col-md-6 col-xl report-inner-card">
        <div class="row d-flex justify-content-between custom-padding">
          <div class="inner-card-text">
            <!-- <span class="report-title">Attendance</span> -->
            <h4>Attendance PERCENTAGE</h4>
            <span class="report-count">*till date</span>
          </div>
          <div class="inner-card-text">
            <p class="attendance-percentage">{{attendancePercentage}} <span class="report-count">%</span></p>
            <!-- <ng-container>
                              <ng2-odometer [number]="92" [format]="'d'"  [value]="10"
                              [config]="{ theme: 'train-station' }"></ng2-odometer>
                      </ng-container>      -->
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Sessions
                  <span class="badge badge-custom badge-pill">{{totalSessionCount}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Sessions Attended
                  <span class="badge badge-custom badge-pill">{{attendedSessions.length}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sessions On-Duty
                    <span class="badge badge-custom badge-pill">{{onDutySessions.length}}</span>
                  </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Session Missed
                  <span class="badge badge-danger badge-pill">{{missedSessions.length}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Session Pending
                  <span class="badge badge-warning badge-pill">{{pendingSessions.length}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h6 class="card-title text-muted text-center custom-graph-margin">Graphical Analysis</h6>
        <div *ngIf="renderFlag">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="clearfix">
      <h4 class="card-title float-left">Till Date</h4>
    </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="example-container mat-elevation-z8" id="foo">
        <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Date: '"> {{element.date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Session">
            <mat-header-cell *matHeaderCellDef> Session </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Session: '"> {{element.period_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Schedule">
            <mat-header-cell *matHeaderCellDef> Schedule </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Schedule: '"> {{element.schedule_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Subject">
            <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Subject: '"> {{element.subject_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Teacher">
            <mat-header-cell *matHeaderCellDef> Teacher </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Teacher: '"> {{element.teacher_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Status: '">
              <label *ngIf="element.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
              <label *ngIf="element.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
              <label *ngIf="element.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
              <label *ngIf="element.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
            </mat-cell>
          </ng-container>

          <!-- Item Description Column -->

          <!-- <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                          <a [routerLink]="['/app/teacher/scheduledescription',element.session_id]">
                            <label *ngIf="element.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                            <label *ngIf="element.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                            <label *ngIf="element.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                            <label *ngIf="element.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                          </a>
                        </td>
                      </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <button (click)="downloadPDF()">download </button> -->
  </div>
</div>