input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-group {
    margin-bottom: -0.5rem !important;
}

.btn{
    margin-bottom: 1.5rem !important;
}

.background-warning{
    border: 1px solid red;
}

.icon{
    align-items: center;
    padding: 15px 15px;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.875rem;
    color: #b66dff;
}


.div-border{
    border:1px solid #b66dff;
    padding: 10px;
    margin-bottom: 1.5rem !important;
}