<div class="page-header">
  <h3 class="page-title">
    Forms
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Forms</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Class</li>
    </ol>
  </nav>
</div>
<div class="row">

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Class</h4>
        <p *ngIf="messageFlag" class="text-primary">{{message}}</p>
        <ng-container *ngIf="!previewFlag">
          <form class="form-sample" [formGroup]="classForm" (ngSubmit)="previewSwitch()" #f="ngForm">
            <p class="card-description">
              Class info
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Standard</label>
                  <div class="col-sm-9">
                    <ng-selectize [config]="standardConfig" [options]="standardOptions" 
                      name="standard" placeholder="Select Standard" formControlName="standard" ngDefaultControl #standard>
                    </ng-selectize>
                    <!-- <div  *ngIf="submitted && f.gender.errors"  class="text-danger">
                        <p *ngIf="f.gender.errors.required">Gender is required</p>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Section</label>
                  <div class="col-sm-9">
                    <input type="text" name="section" class="form-control form-control-sm" placeholder="Enter Section Name" formControlName="section" />
                    <!-- <div  *ngIf="submitted && f.gender.errors"  class="text-danger">
                        <p *ngIf="f.gender.errors.required">Gender is required</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Teacher</label>
                  <div class="col-sm-9">
                    <ng-selectize [config]="teacherConfig" [options]="teacherOptions" name="classTeacher" placeholder="Search by Name"
                      ngDefaultControl formControlName="classTeacher" #employeeSelect>
                    </ng-selectize>
                    <!-- <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                          <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                      </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Academic</label>
                  <div class="col-sm-9">
                    <input type="text" name="academicYear" formControlName="academicYear" class="form-control  form-control-sm" />
                    <!-- <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                          <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
  
  
  
            <p class="card-description">
              Subject Selections
            </p>
            <div formArrayName="groups">
            <div  *ngFor="let group of classForm['controls']['groups']['controls'];let i = index">
              <div class="div-border" [formGroupName]="i">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Group</label>
                    <div class="col-sm-9">
                      <input type="text" name="groupName" formControlName="groupName" placeholder="Enter Group Name" class="form-control form-control-sm" />
                      <!-- <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                                    <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                                </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div formArrayName="subjects">
              <ng-container *ngFor="let item of group['controls']['subjects']['controls']; let j=index">
              <div class="row">
                <ng-container [formGroupName]="j">
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Subject</label>
                          <div class="col-sm-9">
                            <ng-selectize [config]="subjectConfig" formControlName="subject" [options]="subjectOptions" name="subject" placeholder="Search by Name"
                            ngDefaultControl #employeeSelect  [class.visa-dropdown-warning]="1">
                            </ng-selectize>
                            <!-- <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                                              <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                                          </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Teacher</label>
                          <div class="col-sm-9">
                            <ng-selectize [config]="teacherConfig" formControlName="teacher" [options]="teacherOptions" name="subjectTeacher" placeholder="Search by Name"
                              ngDefaultControl #employeeSelect>
                            </ng-selectize>
                            <!-- <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                                          <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                                      </div> -->
                          </div>
                        </div>
                      </div>
                </ng-container>
              </div>
            </ng-container>
            <div class="row icon">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <i class="mdi mdi-plus-box" (click)="addOptions(group.controls.subjects)"></i> Add Options
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <i class="mdi mdi-minus-box" (click)="deleteSubject(group.controls.subjects)"></i> Remove Options
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <i class="mdi mdi-minus-box" (click)="deleteGroup(i)"></i> Remove Group
                </div>
            </div>
            </div>
            </div>
            </div>
            <div class="row icon">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <i class="mdi mdi-plus-box" (click)="addNewGroup()"></i> Add Group
                </div>
            </div>
          </div>
            <button type="submit" [disabled]="!f.valid"  class="btn btn-inverse-info float-right">Preview</button>
          </form>
        </ng-container>

        <ng-container *ngIf="previewFlag">
            <div class="row">
                <div class="col-md-3">
                  <p class="text-dark">Standard</p>
                  <p class="text-primary" [innerHTML]="getStandardName(this.classForm.value.standard)"></p>
                </div>
                <div class="col-md-3">
                    <p class="text-dark">Section</p>
                    <p class="text-primary">{{this.classForm.value.section}}</p>
                 </div>
                 <div class="col-md-6">
                    <p class="text-dark">Class Teacher</p>
                    <p class="text-primary" [innerHTML]="getTeacherName(this.classForm.value.classTeacher)"></p>
                 </div>
              </div>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th> S.No</th>
                  <th> Group Name</th>
                  <th> Subject Name</th>
                  <th> Teacher Name</th>
                </tr>
                <ng-container *ngFor="let group of this.classForm.value.groups;let i = index;">

                  <tr *ngFor="let subject of group.subjects;let j = index;">
                  <td  *ngIf="j===0" [attr.rowspan]="group.subjects.length">{{i+1}}</td>
                  <td *ngIf="j===0" [attr.rowspan]="group.subjects.length">{{group.groupName}}</td>
                  <td  [textContent]="getSubjectName(subject.subject)"></td>
                  <td  [textContent]="getTeacherName(subject.teacher)"></td>
                    </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="template-demo">
            <button type="button" (click)="previewSwitch()"  class="btn btn-inverse-info btn-md">Back</button>
            <button type="button"  (click)="onSubmit()" class="btn btn-inverse-info float-right btn-md">Submit</button>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

