<div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">All Sessions</h4>
          </div>
          <div>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
      
            <table mat-table [dataSource]="dataSource" matSort class="table-responsive mat-elevation-z8">
      
              <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
      
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
      
              <ng-container matColumnDef="Session">
                  <th mat-header-cell *matHeaderCellDef> Session </th>
                  <td mat-cell *matCellDef="let element"> {{element.period_name}} </td>
                </ng-container>
      
              <ng-container matColumnDef="Schedule">
                  <th mat-header-cell *matHeaderCellDef> Schedule </th>
                  <td mat-cell *matCellDef="let element"> {{element.schedule_name}} </td>
                </ng-container>
          
              <ng-container matColumnDef="Subject">
                <th mat-header-cell *matHeaderCellDef> Subject </th>
                <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
              </ng-container>

              <ng-container matColumnDef="Teacher">
                  <th mat-header-cell *matHeaderCellDef> Teacher </th>
                  <td mat-cell *matCellDef="let element"> {{element.teacher_name}} </td>
                </ng-container>
      
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="['/app/teacher/scheduledescription',element.session_id]">
                    <label *ngIf="element.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                    <label *ngIf="element.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                    <label *ngIf="element.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                    <label *ngIf="element.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                  </a>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>