<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
      <a class="navbar-brand brand-logo" href="index.html">
        <img src="assets/images/logo.svg" alt="logo" class="logo-dark" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
      <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome stallar dashboard!</h5>
      <ul class="navbar-nav navbar-nav-right ml-auto">
        <form class="search-form d-none d-md-block" action="#">
          <i class="icon-magnifier"></i>
          <input type="search" class="form-control" placeholder="Search Here" title="Search here">
        </form>
        <li class="nav-item"><a href="#" class="nav-link"><i class="icon-basket-loaded"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="icon-chart"></i></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-toggle="dropdown"
            aria-expanded="false">
            <i class="icon-speech"></i>
            <span class="count">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
            <a class="dropdown-item py-3">
              <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
              <span class="badge badge-pill badge-primary float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle ml-2" src="assets/images/faces/face8.jpg" alt="Profile image"> <span
              class="font-weight-normal"> {{data?.first_name}} </span></a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">
              <p class="mb-1 mt-3">{{data?.first_name +" "+ data?.last_name}}</p>
              <p class="font-weight-light text-muted mb-0">{{data?.role_name}}</p>
            </div>
            <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
            <a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i> Messages</a>
            <a class="dropdown-item"><i class="dropdown-item-icon icon-energy text-primary"></i> Activity</a>
            <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i> FAQ</a>
            <a class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggle()"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav customize-nav">
        <!-- <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="profile-image">
              <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
              <div class="dot-indicator bg-success"></div>
            </div>
            <div class="text-wrapper">
              <p class="profile-name">{{data?.first_name}}</p>
              <p class="designation">{{data?.role_name}}</p>
            </div>
          </a>
        </li> -->
        <li class="nav-item nav-category">
          <span class="nav-link">Dashboard</span>
        </li>
        <li class="nav-item active" *ngIf="this.role===2">
          <a class="nav-link" [routerLink]="['/app/admin/dashboard']">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
          </a>
        </li>
        <li class="nav-item active" *ngIf="this.role===1 || this.role===3">
          <a class="nav-link" [routerLink]="['/app/teacher/dashboard']">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
          </a>
        </li>
        <li class="nav-item active" *ngIf="this.role===4">
          <a class="nav-link" [routerLink]="['/app/student/dashboard']">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
          </a>
        </li>
        <li class="nav-item active" *ngIf="this.role===5">
          <a class="nav-link" [routerLink]="['/app/management/dashboard']">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
          </a>
        </li>

        <ng-container *ngIf="this.role===4">
          <li class="nav-item nav-category"><span class="nav-link">MY CLASS</span></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/student/allsessions']">
              <span class="menu-title">All Sessions</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/student/weeklyschedules']">
              <span class="menu-title">Weekly Schedule</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/student/examschedules']">
              <span class="menu-title">Exam Schedule</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item nav-category"><span class="nav-link">MY REPORTS</span></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/student/examreport']">
              <span class="menu-title">Exams</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/student/testreport']">
              <span class="menu-title">Tests</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="this.role===5">
          <li class="nav-item nav-category"><span class="nav-link">SCANNER</span></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/management/studentscanner']">
              <span class="menu-title">Student</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/management/teacherscanner']">
              <span class="menu-title">Teacher</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="this.role===2">
          <li class="nav-item nav-category"><span class="nav-link">FORMS</span></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">Schedules</span>
              <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/dayscheduler']">Day Schedule</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/createExams']">Exam Schedule</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basica" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">Configuration</span>
              <i class="icon-layers menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basica">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/miscForms']">Misc Forms</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/createTeachers']">Create Teachers</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/subjectActivity']">Create Subjects</a></li>
                <li class="nav-item"> <a class="nav-link" [routerLink]="['/app/admin/createClass']">Create Class</a></li>
              </ul>
            </div>
          </li>
        </ng-container>

        <ng-container *ngIf="this.role===1 || this.role===3">
          <li class="nav-item nav-category"><span class="nav-link">MY CLASS</span></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/managestudents']">
              <span class="menu-title">Students</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/manageschedule']">
              <span class="menu-title">Sessions</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item nav-category"><span class="nav-link">MY REPORTS</span></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/myschedules']">
              <span class="menu-title">Schedules</span>
              <i class="icon-book-open menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/swapdetailed']">
              <span class="menu-title">Swaps</span>
              <i class="icon-book-open menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/examsandtest']">
              <span class="menu-title">Exams</span>
              <i class="icon-book-open menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app/teacher/examreportconf']">
              <span class="menu-title">Class Reports</span>
              <i class="icon-book-open menu-icon"></i>
            </a>
          </li>
          <li class="nav-item nav-category" *ngIf="this.role===3"><span class="nav-link">Teachers</span></li>
          <li class="nav-item"  *ngIf="this.role===3">
            <a class="nav-link" [routerLink]="['/app/teacher/manageteachers']">
              <span class="menu-title">Manage</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
          <li class="nav-item"  *ngIf="this.role===3">
            <a class="nav-link" [routerLink]="['/app/teacher/swapteachers']">
              <span class="menu-title">Swap/Substitute</span>
              <i class="icon-layers menu-icon"></i>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.codetc.net/"
              target="_blank">CodeExcetra</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
            from CodeExcetra</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->