<div class="row">
        <div class="col-md-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="d-sm-flex align-items-baseline report-summary-header">
                    <h5 class="font-weight-semibold">Attendance Summary</h5> <span class="ml-auto">Updated Report</span> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
                  </div>
                </div>
              </div>
              <div class="row report-inner-cards-wrapper">
                <div class=" col-md-6 col-xl report-inner-card">
                  <div class="inner-card-text">
                    <span class="report-title">Attendance</span>
                    <h4>PERCENTAGE</h4>
                    <span class="report-count">*till date</span>
                  </div>
                  <div class="inner-card-icon attendance-meter">
                    <!-- <i class="icon-rocket"></i> -->
                    <ng-container>
                            <ng2-odometer [number]="92" [format]="'d'"  [value]="10"
                            [config]="{ theme: 'train-station' }"></ng2-odometer>
                    </ng-container>     
                  </div>
                </div>
                <div class="col-md-6 col-xl report-inner-card">
                  <div class="inner-card-text">
                    <span class="report-title">Sessions</span>
                    <h4>TOTAL</h4>
                    <span class="report-count"> 3 Reports</span>
                  </div>
                  <div class="inner-card-icon">
                    <!-- <i class="icon-briefcase"></i> -->
                    <ng2-odometer [number]="1023" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                    [config]="{ }"></ng2-odometer>
                  </div>
                </div>
                <div class="col-md-6 col-xl report-inner-card">
                  <div class="inner-card-text">
                    <span class="report-title">Sessions</span>
                    <h4>ATTENDED</h4>
                    <span class="report-count"> View Reports</span>
                  </div>
                  <div class="inner-card-icon">
                    <!-- <i class="icon-globe-alt"></i> -->
                    <ng2-odometer [number]="1000" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                    [config]="{ }"></ng2-odometer>
                  </div>
                </div>
                <div class="col-md-6 col-xl report-inner-card">
                  <div class="inner-card-text">
                    <span class="report-title">Sessions</span>
                    <h4>MISSED</h4>
                    <span class="report-count"> View Reports</span>
                  </div>
                  <div class="inner-card-icon">
                        <ng2-odometer [number]="23" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                        [config]="{ }"></ng2-odometer>
                    <!-- <i class="icon-diamond"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>