 <div class="page-header">
        <h3 class="page-title">
          Forms
        </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Teachers</li>
          </ol>
        </nav> 
</div>
<div class="row">

<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Teacher</h4>
        <form class="form-sample" [formGroup]="createTeacherForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
            Personal info
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="firstName"  class="form-control" />
                  <div  *ngIf="submitted && f.firstName.errors"  class="text-danger">
                      <p *ngIf="f.firstName.errors.required">First Name is required</p>
                      <p *ngIf="f.firstName.errors.minlength">Minimum 3 characters is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="lastName" />
                    <div  *ngIf="submitted && f.lastName.errors"  class="text-danger">
                    <p *ngIf="f.lastName.errors.required">Last Name is required</p>
                    <p *ngIf="f.lastName.errors.minlength">Minimum 3 characters is required</p>
                   </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="gender"> 
                    <option value=1>Male</option>
                    <option value=0>Female</option>
                  </select>
                  <div  *ngIf="submitted && f.gender.errors"  class="text-danger">
                      <p *ngIf="f.gender.errors.required">Gender is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">DO Birth</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input class="form-control" onkeydown="return false" formControlName="dob" [owlDateTime]="dt1"
                        placeholder="Date Time">
                      <div class="input-group-append">
                        <span class="input-group-text" [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                      </div>
                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
                    <div *ngIf="submitted && f.dob.errors" class="text-danger">
                      <p *ngIf="f.dob.errors.required">Date of birth is required</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Degree</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="qualification" class="form-control"/>
                    <div  *ngIf="submitted && f.qualification.errors"  class="text-danger">
                        <p *ngIf="f.qualification.errors.required">Qualification is required</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Branch</label>
                <div class="col-sm-9">
                  <ng-selectize [config]="selectConfig" [options]="departmentOptions" 
                    name="department" placeholder="Select Department" formControlName="department" ngDefaultControl #department>
                  </ng-selectize>
                  <div  *ngIf="submitted && f.department.errors"  class="text-danger">
                      <p *ngIf="f.department.errors.required">Department is required</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Contact 1</label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="primaryContact" class="form-control"/>
                    <div  *ngIf="submitted && f.primaryContact.errors"  class="text-danger">
                        <p *ngIf="f.primaryContact.errors.required">Primary Contact is required</p>
                        <p *ngIf="f.primaryContact.errors.pattern">Phone number is invalid</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Contact 2</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="secondaryContact"/>
                    <div  *ngIf="submitted && f.secondaryContact.errors"  class="text-danger">
                      <p *ngIf="f.secondaryContact.errors.required">Secondary Contact is required</p>
                      <p *ngIf="f.secondaryContact.errors.pattern">Phone number is invalid</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">E-Mail</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="mail" class="form-control" />
                      <div  *ngIf="submitted && f.mail.errors"  class="text-danger">
                        <p *ngIf="f.mail.errors.required">Mail is required</p>
                        <p *ngIf="f.mail.errors.pattern">Mail is invalid</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Grade</label>
                      <div class="col-sm-9">
                          <select class="form-control" formControlName="grade"> 
                            <option *ngFor="let role of roleOptions" [value]="role.role_id">{{role.role_name}}</option>
                          </select>
                          <div  *ngIf="submitted && f.grade.errors"  class="text-danger">
                            <p *ngIf="f.grade.errors.required">Grade is required</p>
                        </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">DO Joining</label>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input class="form-control" onkeydown="return false" formControlName="joindate" [owlDateTime]="dt2"
                              placeholder="Date Time">
                            <div class="input-group-append">
                              <span class="input-group-text" [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
                            </div>
                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                          </div>
                          <div *ngIf="submitted && f.joindate.errors" class="text-danger">
                            <p *ngIf="f.joindate.errors.required">Join date is required</p>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">UserName</label>
                    <div class="col-sm-9">
                      <input type="text" formControlName="userName" class="form-control" />
                      <div  *ngIf="submitted && f.userName.errors"  class="text-danger">
                        <p *ngIf="f.userName.errors.required">UserName is required</p>
                        <p *ngIf="f.userName.errors.pattern">Valid UserName should be a mix of lowercase alphabets or numbers should start with a lowercase alphabet. Minimum of 6 char and max of 15 char</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Password</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" formControlName="password" />
                          <div  *ngIf="submitted && f.password.errors"  class="text-danger">
                            <p *ngIf="f.password.errors.required">Password is required</p>
                            <p *ngIf="f.password.errors.pattern">Valid Password should contain 1 Upper case, 1 Lower case, 1 Special Char, 1 Number and Minimum of 8 char</p>
                        </div>
                        </div>
                    </div>
                  </div>
              </div>
          <p class="card-description">
            Address
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 1</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="address1"/>
                  <div  *ngIf="submitted && f.address1.errors"  class="text-danger">
                    <p *ngIf="f.address1.errors.required">Address is required</p>
                    <p *ngIf="f.address1.errors.minlength">Minimum 3 characters is required</p>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="state" />
                  <div  *ngIf="submitted && f.state.errors"  class="text-danger">
                    <p *ngIf="f.state.errors.required">State is required</p>
                    <p *ngIf="f.state.errors.minlength">Minimum 3 characters is required</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 2</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="address2" />
                  <div  *ngIf="submitted && f.address2.errors"  class="text-danger">
                    <p *ngIf="f.address2.errors.required">Address is required</p>
                    <p *ngIf="f.address2.errors.minlength">Minimum 3 characters is required</p>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postcode</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="postcode" />
                  <div  *ngIf="submitted && f.postcode.errors"  class="text-danger">
                    <p *ngIf="f.postcode.errors.required">Postcode is required</p>
                    <p *ngIf="f.postcode.errors.minlength">Minimum 3 characters is required</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="city"/>
                  <div  *ngIf="submitted && f.city.errors"  class="text-danger">
                    <p *ngIf="f.city.errors.required">City is required</p>
                    <p *ngIf="f.city.errors.minlength">Minimum 3 characters is required</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-inverse-info btn-fw float-right" (click)="submitFlag()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
  