table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  
  td, th {
    width: 20%;
  }

  // td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  //   padding: 2.5px !important;
  //   border-bottom-width: 1px;
  // }