<!-- <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Exam Reports</h4>
            </div>
            <div class="card-columns">
                <div class="card" *ngFor="let list of configureList">
                    <div class="card-header">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{list.exam_name}}</h5>
                            <div class=" col-md-6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                        <h4>{{list.std_name + " " + list.section_name}}</h4>
                                    <span class="report-title">Exam results are ready for this case. Please approve to release the reports</span>
                                </div>
                            </div>
                            <a [routerLink]="['/app/teacher/examconf',list.class_fk,list.exam_fk]" class="card-link btn btn-primary">View Config</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Results Published</small>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="card">
        <ng-container *ngIf="this.ongoingExamSchedules.length>= 1">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">Ongoing Schedule</h4>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div id="accordion">
                        <div class="card" *ngFor="let schedule of ongoingExamSchedules;let i = index">
                            <div class="card-header" [id]="'onHeading_'+i">
                                <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseOn_'+i"
                                    aria-expanded="false" [attr.aria-controls]="'#collapseOn_'+i">
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">Exam</span>
                                            <h4>{{schedule[0].exam_name}}</h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">From</span>
                                            <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">To</span>
                                            <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <h4>Days Remaining</h4>
                                        </div>
                                        <div class="inner-card-icon attendance-meter">
                                            <ng-container>
                                                <ng2-odometer [number]="getDaysRemaining(schedule[0].date)" [format]="'d'"
                                                    [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div [id]="'collapseOn_'+i" class="collapse" [attr.aria-labelledby]="'onHeading_'+i"
                                data-parent="#accordion">
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Subject</th>
                                                <th>Date</th>
                                                <th>Session</th>
                                                <th>Syllabus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subject of schedule;let j = index">
                                                <td>{{j+1}}</td>
                                                <td>{{subject.subject_name}}</td>
                                                <td>{{subject.date.substr(0,10)}}</td>
                                                <td>{{subject.period_name}}</td>
                                                <td>{{subject.syllabus}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    
        <ng-container *ngIf="this.upcomingExamSchedules.length>= 1">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">Upcoming Schedule</h4>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div id="accordion">
                        <div class="card" *ngFor="let schedule of upcomingExamSchedules;let i = index">
                            <div class="card-header" [id]="'upHeading_'+i">
                                <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseUp_'+i"
                                    aria-expanded="false" [attr.aria-controls]="'#collapseUp_'+i">
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">Exam</span>
                                            <h4>{{schedule[0].exam_name}}</h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">From</span>
                                            <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">To</span>
                                            <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <h4>Days Remaining</h4>
                                        </div>
                                        <div class="inner-card-icon attendance-meter">
                                            <ng-container>
                                                <ng2-odometer [number]="getDaysRemaining(schedule[0].date)" [format]="'d'"
                                                    [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div [id]="'collapseUp_'+i" class="collapse" [attr.aria-labelledby]="'upHeading_'+i"
                                data-parent="#accordion">
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Subject</th>
                                                <th>Date</th>
                                                <th>Session</th>
                                                <th>Syllabus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subject of schedule;let j = index">
                                                <td>{{j+1}}</td>
                                                <td>{{subject.subject_name}}</td>
                                                <td>{{subject.date.substr(0,10)}}</td>
                                                <td>{{subject.period_name}}</td>
                                                <td>{{subject.syllabus}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    
        <ng-container *ngIf="this.completedExamSchedules.length>= 1">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">Completed Schedule</h4>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div id="accordion">
                        <div class="card" *ngFor="let schedule of completedExamSchedules;let i = index">
                            <div class="card-header" [id]="'compHeading_'+i">
                                <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseComp_'+i"
                                    aria-expanded="false" [attr.aria-controls]="'#collapseComp_'+i">
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">Exam</span>
                                            <h4>{{schedule[0].exam_name}}</h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">Class</span>
                                            <h4>{{schedule[0].class_name}}</h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">From</span>
                                            <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                    <div class=" col-md -6 col-xl report-inner-card">
                                        <div class="inner-card-text">
                                            <span class="report-title">To</span>
                                            <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div [id]="'collapseComp_'+i" class="collapse" [attr.aria-labelledby]="'compHeading_'+i"
                                data-parent="#accordion">
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Subject</th>
                                                <th>Date</th>
                                                <th>Session</th>
                                                <th>Syllabus</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subject of schedule;let j = index">
                                                <td>{{j+1}}</td>
                                                <td>{{subject.subject_name}}</td>
                                                <td>{{subject.date.substr(0,10)}}</td>
                                                <td>{{subject.period_name}}</td>
                                                <td>{{subject.syllabus}}</td>
                                                <td>{{subject.exam_status_description!==null? subject.exam_status_description:"No Update"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" *ngIf="completedConfiguration[i].configurationFlag" [routerLink]="['/app/teacher/examconf',schedule[0].class_fk,schedule[0].exam_id]" class="marginbtn btn btn-inverse-info btn-fw float-right">Configure</button>
                                    <button type="button"  [routerLink]="['/app/teacher/classexamreport',schedule[0].class_fk,schedule[0].exam_id]" class="marginbtn btn btn-inverse-info btn-fw float-right">View Report</button>
                                    <button type="button" class="marginbtn btn btn-inverse-info btn-fw float-right">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>