<div class="page-header">
    <h3 class="page-title">
      Forms
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Schedules</li>
      </ol>
    </nav> 
</div>
<div class="row">
<div class="col-12 grid-margin">
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Schedules for III-Q</h4>

    <!-- start of schedule design -->
            <div class="row day-columns">
              <div class="day-column" *ngFor="let day of listOfDays">
                <div class="day-header">{{day.day_name}}</div>
                <div class="day-content">
                  <ng-container *ngFor="let schedule of classSchedules[day.day_id],let i=index;">
                  <div class="event" [ngClass]="colorCodes[schedule.group_fk]?colorCodes[schedule.group_fk]:'gray'">
                      <span class="title">{{schedule.period_name}}</span>
                      <ng-container *ngFor="let subject of groupedSubjectInfo[schedule.group_fk],let j=index">
                      <span class="title">{{subject.subject_name}}</span>
                      <footer>
                        <span>by {{subject.first_name}}</span>
                        <span></span>
                      </footer> 
                    </ng-container>
                  </div>
                </ng-container>
                </div>
                <div class="day-footer"  [innerHTML]="classSchedules[day.day_id]?classSchedules[day.day_id].length + ' Tasks': 'No Tasks'"></div>
                <!-- <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div>
                <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div> -->
              </div>
            </div>
    <!-- end of schedule design -->
    <hr>
    <h4>Add / Replace schedule</h4>
    <form class="forms-sample" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <!-- <label for="departmentName" class="col-sm-3 col-form-label">Name</label> -->
        <div class="col-sm-4">
            <ng-selectize [config]="dayConfig" [options]="listOfDays" 
                    name="day" placeholder="Select Day" formControlName="day"  #day>
             </ng-selectize>
             <div  *ngIf="submitted && f.day.errors"  class="text-danger">
              <p *ngIf="f.day.errors.required">Day for schedule is required</p>
             </div>
          </div>
        <div class="col-sm-4">
            <ng-selectize [config]="periodConfig" [options]="listOfPeriods" 
            name="period" placeholder="Select Period" formControlName="period"  #period>
          </ng-selectize>
          <div  *ngIf="submitted && f.period.errors"  class="text-danger">
            <p *ngIf="f.period.errors.required">Session for day is required</p>
           </div>
          </div>
        <div class="col-sm-4">
            <ng-selectize [config]="groupConfig" [options]="listOfGroups" 
                    name="group" placeholder="Select Subject" formControlName="group"  #group>
            </ng-selectize>
            <div  *ngIf="submitted && f.group.errors"  class="text-danger">
              <p *ngIf="f.group.errors.required">Subject for session is required</p>
             </div>
        </div>
      </div>
      <button type="submit" class="btn btn-inverse-info btn-fw float-right" (click)="submitFlag()">Submit</button>
    </form>
        
  </div>
</div>
</div>
</div>


      