<div class="page-header">
    <h3 class="page-title">
        Forms
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Day Scheduler</li>
        </ol>
    </nav>
</div>
<div class="row">

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Day Schedules</h4>
                <form class="form-sample" [formGroup]="createScheduleForm" (ngSubmit)="onSubmit()">
                    <p class="card-description">
                        Select time frame of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control" onkeydown="return false" formControlName="dateRange"
                                            [selectMode]="'range'" (dateTimeInput)="dateChange()" [owlDateTime]="dt1"
                                            placeholder="Date Time">
                                        <div class="input-group-append">
                                            <span class="input-group-text" [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    </div>
                                    <div *ngIf="submitted && f.dateRange.errors" class="text-danger">
                                        <p *ngIf="f.dateRange.errors.required">From ~ To date is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Day</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" [readOnly]="true" formControlName="dayRange" />
                                    <div *ngIf="submitted && f.dayRange.errors" class="text-danger">
                                        <p *ngIf="f.dayRange.errors.required">Day is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description">
                        Select type of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" (change)="scheduleChangeValidation()" formControlName="scheduleType"
                                        [class.background-warning]="submitted && f.scheduleType.errors">
                                        <option *ngFor="let schedule of scheduleOptions" [value]="schedule.schedule_id">{{schedule.schedule_name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.scheduleType.errors" class="text-danger">
                                        <p *ngIf="f.scheduleType.errors.required">Type is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="f.scheduleType.value == 4">
                        <label class="col-md-4 col-form-label">Schedule to be followed</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control"  formControlName="swapDay"
                                    [class.background-warning]="submitted && f.swapDay.errors">
                                    <option *ngFor="let day of daysName;let i=index" [value]="i">{{day}}</option>
                                </select>
                                <div *ngIf="submitted && f.swapDay.errors" class="text-danger">
                                    <p *ngIf="f.swapDay.errors.required">Day is required</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="f.scheduleType.value == 5">
                            <label class="col-md-4 col-form-label">Reason for Holiday</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="holidayType"
                                        [class.background-warning]="submitted && f.holidayType.errors">
                                    <div *ngIf="submitted && f.holidayType.errors" class="text-danger">
                                        <p *ngIf="f.holidayType.errors.required">Reason is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row" *ngIf="f.scheduleType.value == 2">
                        <label class="col-md-4 col-form-label">Sessions to be included</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <ng-selectize [config]="sessionConfig" [options]="sessionOptions" [placeholder]="'Select sessions'"
                                    formControlName="selectedSessions" ngDefaultControl></ng-selectize>
                            </div>
                            <div *ngIf="submitted && f.selectedSessions.errors" class="text-danger">
                                <p *ngIf="f.selectedSessions.errors.required">Sessions are required for partial
                                    schedule</p>
                            </div>
                        </div>
                    </div>

                    <p class="card-description">
                        Select Applicability
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" formControlName="applicableTo" (change)="standardValidation()"
                                            [value]="0" class="form-check-input">
                                        All standards
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" formControlName="applicableTo" (change)="standardValidation()"
                                            [value]="1" class="form-check-input">
                                        Include standards
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" formControlName="applicableTo" (change)="standardValidation()"
                                            [value]="2" class="form-check-input">
                                        Exclude standards
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" *ngIf="f.applicableTo.value != 0">
                        <label *ngIf="f.applicableTo.value == 1" class="col-md-4 col-form-label">Standards to be
                            included</label>
                        <label *ngIf="f.applicableTo.value == 2" class="col-md-4 col-form-label">Standards to be
                            excluded</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <ng-selectize [config]="standardConfig" [options]="standardOptions" [placeholder]="'Select standards'"
                                    formControlName="selectedStandards" ngDefaultControl></ng-selectize>
                            </div>
                            <div *ngIf="submitted && f.selectedStandards.errors" class="text-danger">
                                <p *ngIf="f.selectedStandards.errors.required">Standards are required</p>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-inverse-info btn-fw float-right" (click)="submitFlag()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>