<div class="page-header">
    <h3 class="page-title">
      Manage Students
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>My Class</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Students</li>
      </ol>
    </nav> 
</div>
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body" *ngFor ="let class of classInfo; let i = index">
            <h4 class="card-title">{{class.std_name}}-{{class.section_name}}</h4>
            <p *ngIf="studentLoader" class="card-description">
              Total Students <code [innerHTML]="students[i].length"></code>
              <button type="button" [routerLink]="['/app/teacher/createstudents',class.class_id]" class="btn btn-inverse-info btn-fw float-right">Add New</button>
            </p>
            <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Full name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Date of Joining</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="studentLoader">
                      <tr *ngFor="let student of students[i];let j = index">
                        <td>{{j + 1}}</td>
                        <td>{{student.first_name + " " + student.last_name}}</td>
                        <td [innerHTML]="student.dob.substring(0, 10)"></td>
                        <td [innerHTML]="student.gender?'Male':'Female'"></td>
                        <td [innerHTML]="student.joindate.substring(0, 10)"></td>
                      </tr> 
                    </tbody>
                  </table>
            </div>
          </div>
            
        </div>
      </div>
</div>
