.col-form-label {
    font-size: smaller !important;
}

.table th, .table td {
    padding: 0.5rem !important;
}

td.min {
    min-width:150px;
    white-space: nowrap;
}

td.minimest{
    max-width: 75px;
    white-space: nowrap;
}

td.max {
    max-width:100px;
    white-space: nowrap;
}

.margin{
    margin: 12.5px;
} 

input[type="checkbox"][readonly] {
    pointer-events: none;
  }

.form-check .form-check-label input[type="checkbox"]:disabled:checked + .input-helper:after {
    background: #b8bdc2 !important;
    color: #ffffff !important;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before, .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    position: absolute !important;
    top: -14px !important;
    left: 9px !important;
}

// th.min {
//     width: 25%;
//     white-space: nowrap;
// }