<div class="card">
    <ng-container *ngIf="this.ongoingExamSchedules.length>= 1">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Ongoing Schedule</h4>
            </div>
            <div class="tab-content" id="myTabContent">
                <div id="accordion">
                    <div class="card" *ngFor="let schedule of ongoingExamSchedules;let i = index">
                        <div class="card-header" [id]="'onHeading_'+i">
                            <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseOn_'+i"
                                aria-expanded="false" [attr.aria-controls]="'#collapseOn_'+i">
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">Exam</span>
                                        <h4>{{schedule[0].exam_name}}</h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">From</span>
                                        <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">To</span>
                                        <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <h4>Days Remaining</h4>
                                    </div>
                                    <div class="inner-card-icon attendance-meter">
                                        <!-- <i class="icon-rocket"></i> -->
                                        <ng-container>
                                            <ng2-odometer [number]="getDaysRemaining(schedule[0].date)" [format]="'d'"
                                                [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapseOn_'+i" class="collapse" [attr.aria-labelledby]="'onHeading_'+i"
                            data-parent="#accordion">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Subject</th>
                                            <th>Date</th>
                                            <th>Session</th>
                                            <th>Syllabus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of schedule;let j = index">
                                            <td>{{j+1}}</td>
                                            <td>{{subject.subject_name}}</td>
                                            <td>{{subject.date.substr(0,10)}}</td>
                                            <td>{{subject.period_name}}</td>
                                            <td>{{subject.syllabus}}</td>
                                        </tr>
                                        <!-- <td>
                                                                        <label *ngIf="report.status_flag == null" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-info">PENDING</label>
                                                                    </td> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="this.upcomingExamSchedules.length>= 1">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Upcoming Schedule</h4>
            </div>
            <div class="tab-content" id="myTabContent">
                <div id="accordion">
                    <div class="card" *ngFor="let schedule of upcomingExamSchedules;let i = index">
                        <div class="card-header" [id]="'upHeading_'+i">
                            <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseUp_'+i"
                                aria-expanded="false" [attr.aria-controls]="'#collapseUp_'+i">
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">Exam</span>
                                        <h4>{{schedule[0].exam_name}}</h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">From</span>
                                        <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">To</span>
                                        <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <h4>Days Remaining</h4>
                                    </div>
                                    <div class="inner-card-icon attendance-meter">
                                        <!-- <i class="icon-rocket"></i> -->
                                        <ng-container>
                                            <ng2-odometer [number]="getDaysRemaining(schedule[0].date)" [format]="'d'"
                                                [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapseUp_'+i" class="collapse" [attr.aria-labelledby]="'upHeading_'+i"
                            data-parent="#accordion">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Subject</th>
                                            <th>Date</th>
                                            <th>Session</th>
                                            <th>Syllabus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of schedule;let j = index">
                                            <td>{{j+1}}</td>
                                            <td>{{subject.subject_name}}</td>
                                            <td>{{subject.date.substr(0,10)}}</td>
                                            <td>{{subject.period_name}}</td>
                                            <td>{{subject.syllabus}}</td>
                                        </tr>
                                        <!-- <td>
                                                                <label *ngIf="report.status_flag == null" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-info">PENDING</label>
                                                            </td> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="this.completedExamSchedules.length>= 1">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Completed Schedule</h4>
            </div>
            <div class="tab-content" id="myTabContent">
                <div id="accordion">
                    <div class="card" *ngFor="let schedule of completedExamSchedules;let i = index">
                        <div class="card-header" [id]="'compHeading_'+i">
                            <div class="row report-inner-cards-wrapper" data-toggle="collapse" [attr.data-target]="'#collapseComp_'+i"
                                aria-expanded="false" [attr.aria-controls]="'#collapseComp_'+i">
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">Exam</span>
                                        <h4>{{schedule[0].exam_name}}</h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">From</span>
                                        <h4 [innerHTML]="schedule[0].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <span class="report-title">To</span>
                                        <h4 [innerHTML]="schedule[schedule.length - 1].date.substr(0,10)"></h4>
                                    </div>
                                </div>
                                <div class=" col-md -6 col-xl report-inner-card">
                                    <div class="inner-card-text">
                                        <h4>Days Remaining</h4>
                                    </div>
                                    <div class="inner-card-icon">
                                        <!-- <i class="icon-rocket"></i> -->
                                        <ng-container>
                                            <!-- <img src="../../../../assets/images/finish.svg" alt="logo"> -->
                                            <!-- <ng2-odometer [number]="getDaysRemaining(schedule[0].date)" [format]="'d'"
                                                [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer> -->
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div [id]="'collapseComp_'+i" class="collapse" [attr.aria-labelledby]="'compHeading_'+i"
                            data-parent="#accordion">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Subject</th>
                                            <th>Date</th>
                                            <th>Session</th>
                                            <th>Syllabus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of schedule;let j = index">
                                            <td>{{j+1}}</td>
                                            <td>{{subject.subject_name}}</td>
                                            <td>{{subject.date.substr(0,10)}}</td>
                                            <td>{{subject.period_name}}</td>
                                            <td>{{subject.syllabus}}</td>
                                        </tr>
                                        <!-- <td>
                                                                    <label *ngIf="report.status_flag == null" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-info">PENDING</label>
                                                                </td> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>