@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.input-group-text {
    height: calc(1.5em + 0.75rem + 2px) !important;
}

#toast-container>.toast-info {
    background-image: url("../src/assets/images/checked.svg");
    background: linear-gradient(to right, #da8cff, #9a55ff)!important;
    }

 .table th, .table td {
      font-size: 0.8rem !important;
  }

  .click-cursor{
    cursor: pointer;
}

.badge {
    border-radius: .125rem;
    font-size: 11px;
    font-weight: initial;
    line-height: 1;
    padding: .375rem .5625rem;
    font-family: "ubuntu-medium", sans-serif;
  }
  
  .badge.badge-pill {
    border-radius: 10rem;
  }
  
  /*Badge variations*/
  .badge-primary {
    border: 1px solid #b66dff;
    color: #ffffff;
  }
  
  .badge-secondary {
    border: 1px solid #d8d8d8;
    color: #ffffff;
  }
  
  .badge-success, .preview-list .preview-item .preview-thumbnail .badge.badge-online {
    border: 1px solid #1bcfb4;
    color: #ffffff;
  }
  
  .badge-info, .preview-list .preview-item .preview-thumbnail .badge.badge-offline {
    border: 1px solid #198ae3;
    color: #ffffff;
  }
  
  .badge-warning, .preview-list .preview-item .preview-thumbnail .badge.badge-busy {
    border: 1px solid #fed713;
    color: #ffffff;
  }
  
  .badge-danger {
    border: 1px solid #fe7c96;
    color: #ffffff;
  }
  
  .badge-light {
    border: 1px solid #f8f9fa;
    color: #ffffff;
  }
  
  .badge-dark {
    border: 1px solid #3e4b5b;
    color: #ffffff;
  }
  
  /*Badge gradient variations*/
  .badge-gradient-primary {
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #ffffff;
  }
  
  .badge-gradient-secondary {
    background: linear-gradient(to right, #e7ebf0, #868e96);
    color: #ffffff;
  }
  
  .badge-gradient-success {
    background: linear-gradient(to right, #84d9d2, #07cdae);
    color: #ffffff;
  }
  
  .badge-gradient-info {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    color: #ffffff;
  }
  
  .badge-gradient-warning {
    background: linear-gradient(to right, #f6e384, #ffd500);
    color: #ffffff;
  }
  
  .badge-gradient-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096);
    color: #ffffff;
  }
  
  .badge-gradient-light {
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
    color: #ffffff;
  }
  
  .badge-gradient-dark {
    background: linear-gradient(89deg, #5e7188, #3e4b5b);
    color: #ffffff;
  }
  

      
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
