<div class="card">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="profile"><i class="fa fa-fw fa-home"></i>Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="attendance"><i class="fa fa-fw fa-clock-o"></i>Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="examreport"><i class="fa fa-fw fa-file"></i>Exam Report</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>