@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');

.logo{
        height: 5rem;
        padding: 0.5rem;
}

.report-inner-cards-wrapper {
     padding-top: 0px !important;
}

.main-report{
        font-family: 'Zhi Mang Xing', cursive;
        font-size: 2rem !important;
}

.maxlabel{
        font-size: 1.5rem !important;
}