<div class="card">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Exam Reports</h4>
            </div>
            <div class="card-columns">
                <div class="card" *ngFor="let report of reports">
                    <div class="card-header">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{report.exam_name}}</h5>
                            <div class=" col-md-6 col-xl report-inner-card">
                                <div class="inner-card-text">
                                    <span class="report-title">Marks scored</span>
                                    <h4>{{report.my_total + "/" + report.max_marks}}</h4>
                                    <span class="report-title">Result</span>
                                    <h4>
                                            <label *ngIf="report.failcounter > 0" class="click-cursor badge badge-gradient-danger maxlabel">FAIL</label>
                                            <label *ngIf="report.failcounter == 0" class="click-cursor badge badge-gradient-success maxlabel">PASS</label>
                                    </h4>
                                </div>
                                <!-- <div class="inner-card-icon attendance-meter">
                                
                                    <ng-container>
                                        <ng2-odometer [number]="92" [format]="'d'" [value]="10" [config]="{ theme: 'train-station' }"></ng2-odometer>
                                    </ng-container>
                                </div> -->
                            </div>
                            <a [routerLink]="['../studentreport',report.exam_fk]" class="card-link btn btn-primary">Report Card</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Results Published</small>
                        <!-- <a href="#" class="card-link">Marks Summary</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>